@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

$font-family: 'Advent Pro', sans-serif;
$vblue : #30a2c5;
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aliceblue;
    font-family: $font-family;
    font-weight: 500;
}
//styling for total header section 
.or_header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 2%;
background-color: #30a2c5;
z-index: 1;
}
//styling for logo //OR// 
.header_logo{
    img{
        width: 10vw;
        cursor: pointer;
        
    }

}
//styling for //openresource// imge
.header_poster{
    img{
        width: 40vw;
        margin-bottom: 5%;
        
    }
}
//styling for //bugermenu//
.header_menu{
    border: 0.8px solid rgb(178, 215, 247);
    border-radius: 1vmax;
    width: 6.5vw;
    height: 5vh;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menu_bar{
        border: 0.5px solid rgb(191, 226, 255);
        width: 5vw;
        margin: 10%;
    }
}
//styling for menu_box
.menu_box{
    border:none;
    width: 50vw;
    height: 87vh;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: x-small;
    display:block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .2s linear;
    animation: sections .5s;
    a{
    margin: 1%;
    }
}   
@keyframes sections {
    from{
        width: 50vw;
    }
    to{
        width: 0vw;
    }
}
//DNB STYLING
.DNB{
    width: 17vmax;
    height: 17vmax;
    background-color: rgb(211, 139, 57);
    border-radius: 50%;
    position: absolute;
      top: -1.9em;
     left: -1.9em;
    transition: .2s linear;
    display: flex;
    justify-content: center;
    align-items: center;
    .img{
        width: 4vmax;
        margin: 0%;
        height: 4vmax;
        position:absolute;
        transition: .2s linear;
        filter: opacity(0);
    }
    .img:hover{
        width: 5vmax;
        height: 5vmax;
        margin: 3%;
        border: .5px solid beige;
        position: relative;
    }
}
.DNB:hover{
     width: 35vmax;
     height: 35vmax;
     
     .img{
     filter: opacity(9);
     position: relative;
     }
}
//cells 1-6
// .one{
//     top: 8px;
//     left: 28px;

   
// }
// .two{
//    top: 18px;
//    left: 26px;
// }
// .three{
//     top: 21px;
//     left: 3px;
// }
// .four{
//     top: 9px;
//     left: 14px;
// }
// .five{
//     top: -1px;
//     left: 3px;
// }
// .six{
//     top:0px;
//     left: -22px;
// }
//animation for DNB 
@keyframes toggleon {
    from{
        width: 3.2em;
        height: 3.2em;
    }
    to{
        width: 6em;
        height: 6em;
    }
}