@import url('https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap');

$font-family: 'Advent Pro', sans-serif;
$vblue : #30a2c5;
*{
    padding: 0;
    margin: 0;
}

body{
    background-color: aliceblue;
    font-family: $font-family;
    font-weight: 500;
}
//styling for total header section 
.or_header{
display: flex;
justify-content: space-between;
align-items: center;
padding: 2%;
background-color: #30a2c5;
}
//styling for logo //OR// 
.header_logo{
    img{
        width: 10vw;
        cursor: pointer;
    }
}
//styling for //openresource// imge
.header_poster{
    img{
        width: 40vw;
        margin-bottom: 5%;
        
    }
}
//styling for //bugermenu//
.header_menu{
    border: 0.8px solid rgb(178, 215, 247);
    border-radius: 1vmax;
    width: 6.5vw;
    height: 5vh;
    padding: 1%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .menu_bar{
        border: 0.5px solid rgb(191, 226, 255);
        width: 5vw;
        margin: 10%;
    }
}
//styling for menu_box
.menu_box{
    border:none;
    width: 30vw;
    height: 40vh;
    background-color: #ffffff;
    position: absolute;
    right: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    font-size: x-small;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    a{
    margin: 1%;
    }
}   
